@font-face {
    font-family: "Elastre";
    src: url("../fonts/Elastre[HEXP\,INKT].ttf");
    font-weight: 1000;
}
body{
    margin: 0 0 0 0;
    font-family:"Elastre" ;
}
header {
	padding: 20px;
	background: #f8f8f8;
	position: relative;
    background-color: #809684;
    
}

.hamburger {
	display: none;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	order: 1;
    color: #ffffff;
}

.nav {
	display: flex;
    justify-content: center;
    gap: 30px;
    justify-content: center;
    list-style-type: none;  
    font-size: 18px;
    margin: 0 0 0 0;
    font-size: 13px ;
}

.nav a {
	text-decoration: none;
    color: white; 
    list-style-type: none;  
}
nav li{
    padding-top: 30px;
}
.nav :hover{
    color: #FFF1F1;
}
.glavnaya{
    margin: 0 0 0 0;
    background-image: url(../img/yoga.png);
    background-size: cover;
    color: #CE71A3;
    text-align: center;
    padding: 50px;
    font-size: 35px;
}

h1{
    font-size: 100px;
    animation: fadeIn 3s ease-out;
}
.zapisya{
    background-color: #809684;
    opacity: 90%;
    border-color: transparent;
    height: 130px;
    font-family: "Elastre";
    font-size: 45px;
    color: white;
    border-radius: 37px;
    margin-bottom: 30px;
    margin-top: 25px;
    animation: bounce 5s infinite;
}
.zapisya:hover{
    background-color: #61766c;
}
#main2{
    background-color: #809684;
    color: aliceblue;
   
}
.container{
    columns: 2;

}
.text{
    margin-left: 70px;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    font-size: 20px;
}
h3{
    font-size: 40px;
    animation: fadeIn 5s ease-out;
    margin: 30px 0 30px 0;
    
}
.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 450px;
    height: 666px;
    margin: 0 auto;
    overflow: hidden;
    float: right;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.prev-button,
.next-button {
  position: absolute;
  bottom: 85%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}
.prev-button {
  left: 10px;
}
.next-button {
  right: 10px;
}
#main3{
    background-color:#FFF1F1 ;
}
h2{
    animation: fadeIn 5s ease-out;
    font-size:80px ;
    text-align: center;
    margin: 0 0 0 0;
    padding: 100px 0 25px 0;
    color: #CE71A3;
}
.buttons{
    margin: 0;
    text-align: center ;
    display: flex;
    gap: 130px;
    justify-content: center
}
.buttons button{
    background-color: transparent;
    border: transparent;
    font-family: "Elastre";
    font-size: 20px;
    margin-bottom: 120px;
}
.buttons :hover{
    color: #809684;
}
.buttons a{
    text-decoration: none; 
    color: black;  
}
#main4{
    background: #809684;
}
h2{
    animation: fadeIn 5s ease-out;
    font-size: 50px;
}
.maintext4{
    font-size: 50px;
    color: #FFF1F1;
    text-align: center;
}
h4{
    font-size: 40px;
    margin: 15px;
}
.stoimost{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}
.cena1,
.cena2,
.cena3{
    width: 300px; 
    height: 400px;
    border: 5px solid #FFF1F1;
    margin: 20px;
    background: linear-gradient(0deg,rgba(255, 224, 224, 0.96) 2%, rgba(128, 150, 132, 0.84) 33%);
    padding: 15px;
    color: #ffffff;

}

hr{
    margin-top: 0px;
    height: 2px;
    background-color: #ffffff;
}
#main5{
    background-color: #FFF1F1;
    display: flex;
    justify-content: center;
    padding-top: 80px ;
    padding-bottom: 100px;
}
footer{
    background-color: #809684;
    height: 100px;
    color: #FFF1F1;  
    
}
.contacs{
    margin: 20px 0 0 20px ;
    display: inline-flex;
    justify-content: baseline;
    gap: 10px;
}
.contacs button{
    background-color: transparent;
    border: none;
}
.tg{
    width: 65px;
}
.vk{
    width: 65px; 
}
.tele{
    font-size: 14px;
    margin-top: 25px;
}

        @keyframes fadeIn{
                0% {
        opacity: 0; 
        transform: translateY(20px); 
      }
      100% {
        opacity: 1; 
        transform: translateY(0);
      }
            }
            @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 900px) {
    h1{font-size: 50px;}
    .glavnaya{font-size: 20px;}
    .zapisya{height: 60px; font-size: 30px;}
    .buttons {flex-direction: column;  align-items: center; gap: 20px;} 
    .buttons button{margin-bottom: 70px;}
    .text{font-size: 15px;}
    h3{font-size: 30px;}
    .stoimost{display:flex;flex-direction: row; justify-content: center; gap: 25px; padding-bottom: 35px; }
    h4{ font-size: 28px; margin: 10px;}
    .cena1,
    .cena2,
    .cena3{
    width: 200px; 
    height: 300px;
    margin: 10px;
    padding: 10px;
}
    .text{margin-left: 20px;}
    .slider-container{display: none;}
    h2{font-size: 55px;}
	.hamburger {
	display: block;
	z-index: 1001;
	}
    .nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: 80%;
	height: 100vh;
	background: #809684;
	transition: right 0.3s;
	z-index: 1000;
	flex-direction: column;
	gap: 15px;
	padding: 60px 20px 20px;
	}
    .nav.active {
	right: 0;
	}
    .nav a {
	padding: 10px;
	}

}
@media (max-width: 480px) {
    h1{font-size: 30px;}
    .glavnaya{font-size: 15px;}
    .zapisya{height: 50px; font-size: 25px;}
    .buttons {flex-direction: column;  align-items: center; gap: 5px;}
    .buttons button{margin-bottom: 50px;}
    .buttons button{margin-bottom: 70px;}
    h3{font-size: 25px; margin: 15px 0 15px 0;}
    .stoimost{display:flex;flex-direction: column;align-items: center; gap: 25px; padding-bottom: 35px; }
    .cena1,
    .cena2,
    .cena3{width: 200px; height: 300px; margin: 10px; padding: 10px;}
    h2{font-size: 30px;}
    .text{margin-left: 10px; padding: 5px 0 5px 0; display: flex;font-size: 10px;}
    .maintext4{font-size: 35px;}
    .hamburger {
	display: block;
	z-index: 1001;
	}
    .nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: 80%;
	height: 100vh;
	background: #809684;
	transition: right 0.3s;
	z-index: 1000;
	flex-direction: column;
	gap: 15px;
	padding: 60px 20px 20px;
	}
    .nav.active {
	right: 0;
	}
    .nav a {
	padding: 10px;
	}
}
@media (min-width: 900px) {
    .link{gap: 20px;}
    h1{font-size: 90px;}
    .stoimost{gap: 5px;}}
    .cena1, .cena2, .cena3{margin: 10px;}
    .slider-container {width: 450px; height: 650px;}

@media (min-width: 1440px) {
    .text{margin-left: 150px;}
    .link{gap: 80px;}
    .slider-container {width: 490px; height: 560px;}
}
